.profile__link {
  border: 2px solid #ffffff;
  max-width: 150px;
  max-height: 50px;
  justify-content: center;
  align-self: center;
  transition: 1s;
}

.profile__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 890px) {
  .profile__link {
    max-width: 282px;
  }
}
