.footer {
  max-width: 880px;
  margin: 67px auto 60px;
}

@media screen and (max-width: 890px) {
  .footer {
    max-width: 590px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    max-width: 282px;
    margin: 48px 0 36px 27px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 48px auto 36px;
  }
}
